extends layout

include mixins/form

block tools
  +tools('show', page.wikiname)

block content

  if !isAjax
    #js--content.show
      +notice()
      +warning()
    case markdownEditor
      when 'codemirror'
        !=content
      when 'editormd'
        +asset("/editor.md/css/editormd.preview.css")(type="text/css")
        +asset("/editor.md/examples/js/jquery.min.js")
        +asset("/editor.md/lib/marked.min.js")
        +asset("/editor.md/lib/prettify.min.js")
        +asset("/editor.md/lib/raphael.min.js")
        +asset("/editor.md/lib/underscore.min.js")
        +asset("/editor.md/lib/sequence-diagram.min.js")
        +asset("/editor.md/lib/flowchart.min.js")
        +asset("/editor.md/lib/jquery.flowchart.min.js")
        +asset("/editor.md/examples/js/zepto.min.js")
        +asset("/editor.md/editormd.js")

        #editormdView
          textarea
            !=content
        script.
          var jQuery = Zepto;
          var editormdView = editormd.markdownToHTML("editormdView", {
            //- markdown: 'content',
            tocm            : true,    // Using [TOCM]
            tocContainer    : "#custom-toc-container", // define ToC container
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,
            flowChart       : true,
            sequenceDiagram : true,
          });
      default
        !=content
  else
    .jingo-content.jingo-show
      !=content
  - var klass = isAjax ? 'jingo-footer' : 'footer'
  p(class=klass) Updated by&nbsp;
    if hasGravatar()
      img(src=gravatar().url(page.metadata.email, {s:16}))
    b #{page.metadata.author}
    |,&nbsp;
    b(title=page.metadata.date) #{page.metadata.relDate}&nbsp;
    | &ndash; #{page.metadata.hash}
